/target
.vscode

# So that files from debugging don't get committed
# Only applies to claw, wat, and wasm files in root
# Not e.g. crates/codegen/allocator.wat
*.wat
*.wasm

# The compiled publish script
publish
